@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');



body {
    background-color: #A509CC;
}

h1 {
    font-size: 3.5rem;
    font-family: Permanent Marker, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    color: #FF3B74;
}

.container {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 500px;
    flex-direction: column;
}

#play-board{
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: center;
}

.box {
    border: 1px solid white;
    height: 100px;
    width: 100px;
    display: column;
    align-items: center;

}