@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');



body {
    background-color: #a609ce;
}

h1 {
    font-size: 4rem;
    font-family: Permanent Marker, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    color: #FF3B74;
}

#btn-replay {
    font-size: 160%;
    color: #fafafa;
    background-color: #FF3B74;
    font-family: Permanent Marker, sans-serif;
    border-radius: 20%;
    padding: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 2px 3px #fafafa;
}


.contanier{
    height: 30vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#play-board{
    display: flex;
    width: 20em;
    height: 20em;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 1em;
}

.box {
    height: 5em;
    width: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: white 2px solid;
    border-radius: 5px;
}

#username-display-area{
    display: flex;
    flex-direction: left;
}