@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* Main Body and heading style set*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #a609ce;
}

h1 {
    font-size: 3.8rem;
    font-family: Permanent Marker, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    color: #FF3B74;

}

/* Enter user name and Submit button style and features*/

#user-name{
    font-size: 150%;
    color: #a609ce;
    font-family: Permanent Marker, sans-serif;
    border-radius: 10%;
    padding: 10px;
    margin-bottom: 10px;
}

#submit-btn {
    font-size: 150%;
    color: #fafafa;
    background-color: #FF3B74;
    font-family: Permanent Marker, sans-serif;
    border-radius: 10%;
    padding: 10px;
    box-shadow: 2px 3px #fafafa;
    margin-bottom: 10px;
    margin-left: 10px;
}

#submit-btn:hover {
    transform: scale(1.07);
    box-shadow: 0px 6px #3C3F42;
    transition: 200ms;
}

/* Username Display Style*/
#username-display-area{
    display: flex;
    align-items: center;
    justify-content: center;
}

#username-style{
    font-family: Permanent Marker, sans-serif;
    color: #fafafa;
    border-bottom: 3px dashed #fafafa;
    letter-spacing: 3px;
    font-size: 250%;
}

.board-text {
    font-family: Permanent Marker, sans-serif;
    color: #FF3B74;
    font-size: 220%;
}

/* Replay and Re start button style*/

#btn-replay {
    font-size: 160%;
    color: #fafafa;
    background-color: #FF3B74;
    font-family: Permanent Marker, sans-serif;
    margin-top: 20px;
    border-radius: 20%;
    padding: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 2px 3px #fafafa;
}

#btn-replay:hover {
    transform: scale(1.07);
    box-shadow: 0px 6px #3C3F42;
    transition: 200ms;
}

#btn-startOver{
    font-size: 160%;
    color: #fafafa;
    background-color: #FF3B74;
    font-family: Permanent Marker, sans-serif;
    border-radius: 20%;
    padding: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 2px 3px #fafafa;
}

#btn-startOver:hover {
    transform: scale(1.07);
    box-shadow: 0px 6px #3C3F42;
    transition: 200ms;
}

/* Playboard design style*/
.contanier{
    height: 70vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#play-board{
    display: flex;
    width: 20em;
    height: 20em;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 1em;
}

.box {
    height: 5em;
    width: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: white 2px solid;
    border-radius: 5px;
}

.score-area {
    text-transform: uppercase;
    font-family: Permanent Marker, sans-serif;
    text-align: center;
    color: #FF3B74;
    font-size: 200%;
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.counter-color{
    color: #fafafa;
}

/* The pop out for Rules and Info */

#rules-button{
    font-size: 110%;
    color: #fafafa;
    background-color: #FF3B74;
    font-family: Permanent Marker, sans-serif;
    border-radius: 10%;
    margin-left: 20px;
    padding: 10px;
    box-shadow: 2px 3px #fafafa;
}

#rules-button:hover {
    transform: scale(1.08);
    box-shadow: 0px 6px #3C3F42;
    transition: 200ms;
}

  /* Modal Content/Box */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(7, 3, 6, 0.5); 
  }
  
    .modal-content {
    color: #fafafa;
    font-family: Permanent Marker, sans-serif;
    font-size: 160%;
    background-color: rgba(197, 10, 214, 0.9); 
    margin: 15% auto; 
    padding: 20px;
    border: 5px solid #fafafa;
    width: 90%; 
  }
  
  #list-style {
    padding-left: 40px;
    letter-spacing: 2px;
  }

  .close {
    color: #fafafa;
    float: right;
    font-size: 45px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .box {
    font-family: Permanent Marker, sans-serif;
    color: #fafafa;
    font-size: 120;
    text-transform: uppercase;
}

/* Style for 404 page*/

.error-style{
    font-size: 1.75rem;
    font-family: Permanent Marker, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    color: #fafafa;
    margin-top: 40px;
}

#error-style-icon{
    font-size: 2.5rem;
    color:#fafafa;
    display: flex;
    justify-content: center;
   margin-top: 10px;
}

/* Media Quieres */

@media screen and (max-width: 720px) {
    .score-area {
        width: 65%;
    }
}

@media screen and (max-width: 555px) {

    h1 {
        font-size: 3.2rem;
    }
    #username-form{
    display: flex;
        flex-direction: column;
        text-align: center;
        width: 60%;
    }
    .board-text {
        font-size: 200%;
        }
    #user-name{
        font-size: 110%;
        margin-bottom: 20px;
        text-align: center;
    }

    #submit-btn {
        font-size: 115%;
    }

    #username-display-area{
    margin-top: 10px;
       margin-bottom: 30px;
    }
    #username-style{
        font-size: 200%;
    }
}

@media screen and (max-width: 480px){
    h1{
        padding-bottom: 15px;
    }
    #rules-button{
        font-size: 100%;
    }
    .score-area {
        font-size: 175%;
        width: 75%;
        padding-bottom: 10px;
    }
}

